.drawer_corner{
    width:50px;
    height: 55px;
    position: fixed;
    cursor: pointer;
    right:0;
    z-index:1;
}

.drawer_icon{
    position: fixed;
    cursor:pointer;
    outline:none;
    user-select: none;
    width:22px;
    height: 15px;
    top:15px;
    right:13px;
    z-index: 1;
}

.drawer_icon > span{
    display:block;
    width:100%;
    height: 3.5px;
    background-color:white;
    border-radius:10px;
    position:absolute;
    transition: 0.3s;
}

.closed:first-child{
    top:3px;
}
.closed:last-child{
    top:9px;
}

.opened:first-child{
    top:6px;
    background-color: black;
    transform: rotate(43deg);
}
.opened:last-child{
    top:6px;
    background-color: black;
    transform: rotate(-43deg);
}

.drawer_menu{
    text-align:left;
    background-color: white;
    position: fixed;
    right:0;
    box-shadow:0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    border-bottom-right-radius: 5px;
    transition: 0.3s;
}

.drawer_menu > header {
    
    padding:0 50px 7px 20px;
    margin-top:8px;
    font-size:25px;
    font-weight: bold;
    cursor: default;
}

.drawer_menu > a{
    padding:20px;
    display: block;
}

.drawer_menu > a:last-child{
    border-bottom-left-radius: 5px;
}

.drawer_menu > a:hover{
    background-color:darkgrey;
}