.shop_wrapper{
    background-image: url("../images/light-wood-table-texture_light_wood_grain_texture_wallmayacom_light_wooden_table_texture.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    width: 100vw;
    height: 100vh;
}
.shop_container{
    background-image: url("../images/light-wood-table-texture_light_wood_grain_texture_wallmayacom_light_wooden_table_texture.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.shop_container > *{
    margin-top:80px;
    margin-left:50px;
}

.shop_container > .available_sticks > header{
    display: flex;
    align-items:center;
    font-size:20px;
    
}

.shop_container > .bought_sticks > header{
    font-size:20px;
    text-align: left;
}

.buy_use{
    background-color: transparent!important;
    border:0;
    font-family: grafipaint;
    font-size:30px;
}

.buy_use > i{
    transform: rotate(-90deg);
}

@media screen and (max-width:600px){
    .shop_container > *:first-child{
        margin-top:100px;
    }
    .shop_container > *:nth-child(odd){
        margin-left:0px;
    }
    .shop_container > *:nth-child(even){
        margin-left:30px;
    }
}