<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <!-- <link rel="stylesheet" type="text/css" href="../static/css/Drawer.css"> -->
        <link rel="stylesheet" type="text/css" href="../static/css/index.css">
        <link rel="stylesheet" type="text/css" href="../static/css/TextField.css">
        <link rel="stylesheet" type="text/css" href="../static/css/ControlPanel.css">
        <link rel="stylesheet" type="text/css" href="../static/css/Button.css">
        <title>Control Panel</title>
    </head>
    <body>
        <div class="panel">
            <h1>Add Equation</h1>
            <input class="panel_field textfield" type="text" spellCheck="false" placeholder="Equation"/>
            <input class="panel_field textfield" type="text" spellCheck="false" placeholder="Number of moves"/>
            <input class="button" type="submit" value="Add"/>
        </div>
    </body>
</html>