<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <!-- <link rel="stylesheet" type="text/css" href="../static/css/Drawer.css"> -->
        <link rel="stylesheet" type="text/css" href="../static/css/index.css">
        <link rel="stylesheet" type="text/css" href="../static/css/TextField.css">
        <link rel="stylesheet" type="text/css" href="../static/css/Button.css">
        <link rel="stylesheet" type="text/css" href="../static/css/CreateRoom.css">
        <title>Create Room</title>
    </head>
    <body>
        <div class="create_room_wrapper">
            <div id="joined_players">
                <span>Joined players:</span>
                <span>Minerusher</span>
                <span>Minerusher</span>
                <span>Minerusher</span>
                <span>Minerusher</span>
                <span>Minerusher</span>
                <span>Minerusher</span>
                <span>Minerusher</span>
                <span>Minerusher</span>
                <span>Minerusher</span>
                <span>Minerusher</span>
                                
            </div>
            <div>
                <span id="game_id">ID: Y6HGF6</span>
                <span>Max players:<input id="maximum_players" class="textfield" type="number" value="2" min="2" max="10" spellCheck="false"  onkeydown="return false"/></span>
                <span>Number of equations:<input id="number_of_equations" class="textfield" type="number" value="1" min="1"  max="10" spellCheck="false"  onkeydown="return false"/></span>
            </div>
        </div>
    </body>
</html>