<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <!-- <link rel="stylesheet" type="text/css" href="../static/css/Drawer.css"> -->
        <link rel="stylesheet" type="text/css" href="../static/css/index.css">
        <link rel="stylesheet" type="text/css" href="../static/css/TextField.css">
        <link rel="stylesheet" type="text/css" href="../static/css/Button.css">
        <link rel="stylesheet" type="text/css" href="../static/css/CreateJoinRoom.css">
        <title>Create Room</title>
    </head>
    <body>
        <div class="create_room_wrapper">
            <div id="joined_players">
                <span>Joined players:</span>
                
            </div>
            <div id="controls">
                ID: <span id="room_id">Not created</span>
                <span>Max players:<input id="maximum_players" class="textfield" type="number" value="2" min="2" max="10" spellCheck="false"/></span>
                <span>Number of equations:<input id="number_of_equations" class="textfield" type="number" value="1" min="1"  max="10" spellCheck="false"/></span>
                <input id="create_room" onClick="create_room()" class="button" type="button" value="Create Room"/>
            </div>
        </div>
        <input type="hidden" id="uid" value="{{ id }}">
        <input type="hidden" id="username" value="{{ name }}">
        <script src="/static/lib/socket.io.js"></script>
        <script src="/static/js/create_room.js"></script>
        <script>
            document.getElementById("maximum_players").oninput = document.getElementById("number_of_equations").oninput = function () {
                if (this.value.length > 1 || this.value == "0") {
                    this.value = 10; 
                }
            }
        </script>
    </body>
</html>