<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="../static/css/Drawer.css">
    <link rel="stylesheet" type="text/css" href="../static/css/Button.css">
    <link rel="stylesheet" type="text/css" href="../static/css/index.css">
    <title>MathStick</title>
</head>
<body>
    <div id="content">
        <div onClick="show_drawer()" class="drawer_corner">
            
            <div class="drawer_icon">
                <span class="opened"></span>
                <span class="opened"></span>
            </div>
            <div class="player_menu drawer_menu" id="players">
                <header>Players</header>
            </div>
        </div>
        <div class="game_layout">
            <div class="navbar">
                <input class="back button" type="button" value="<==" onclick="location.href = '/settings'">
                <img src="../static/images/coins_broken_transperent.png" alt="coins"/>
                <div id="coin_count">{{ coins }}</div>
            </div>
            <p>Move one stick so the equation is true!</p>
            <div id="game">

            </div>
        </div>
    </div>
    <div id="rotate_screen"></div>
    <!-- <h1>Hello {{ name }} {{ id }}</h1> -->
    <input type="hidden" id="user_id" value="{{ id }}">
    <input type="hidden" id="username" value="{{ name }}">
    <input type="hidden" id="gamemode" value="{{ mode }}">
    <script src="/static/lib/socket.io.js"></script>
    <script src="/static/lib/pixi.min.js"></script>
    <script src="/static/js/utils.js"></script>
    <script src="/static/js/symbol_displays.js"></script>
    <script src="/static/js/matches.js"></script>
    <script src="/static/js/main.js"></script>
    <script>
        (function() {
            if(sessionStorage.getItem('game_mode')=="singleplayer"){
                document.getElementsByClassName("drawer_corner")[0].style.display = "none"
            } else {
                document.getElementsByClassName("drawer_corner")[0].style.display = "block"
            }
            if(window.innerHeight > window.innerWidth){
                document.getElementById("content").style.display = "none"
                document.getElementById("rotate_screen").style.display = "block"
            }
            window.addEventListener("orientationchange", function() {
                var drawer = document.getElementsByClassName("drawer_icon")[0]
                if(screen.orientation.angle == 180 || screen.orientation.angle == 0){
                    document.getElementById("content").style.display = "none"
                    document.getElementById("rotate_screen").style.display = "block"
                } else {
                    document.getElementById("content").style.display = "block"
                    document.getElementById("rotate_screen").style.display = "none"
                    document.getElementsByClassName("drawer_menu")[0].style.transform = "translateX(100%)"
                    for(var i=0;i<drawer.children.length;i++){
                        drawer.children[i].classList.remove("opened")
                        drawer.children[i].classList.add("closed")
                    } 
                }
            });
        })()
        function show_drawer(){
            var drawer = document.getElementsByClassName("drawer_icon")[0]
            var drawer_menu = document.getElementsByClassName("drawer_menu")[0]
            for(var i=0;i<drawer.children.length;i++){
                if(drawer.children[i].classList.contains("closed")){
                    drawer.children[i].classList.remove("closed")
                    drawer.children[i].classList.add("opened")
                } else{
                    drawer.children[i].classList.remove("opened")
                    drawer.children[i].classList.add("closed")
                }
            }
            if(drawer_menu.style.transform == "translateX(100%)"){
                drawer_menu.style.transform = "translateX(0)"
            } else{
                drawer_menu.style.transform = "translateX(100%)"
            }
        }
    </script>
</body>
</html>