<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="google" content="notranslate" />
    <meta http-equiv="Content-Language" content="en_US" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="../static/css/Drawer.css">
    <link rel="stylesheet" type="text/css" href="../static/css/Button.css">
    <link rel="stylesheet" type="text/css" href="../static/css/index.css">
    <title>MathStick</title>
</head>
<body>
    <div class="navbar navbar_index">
        <img src="../static/images/coins_broken_transperent_new.png" alt="coins"/>
        <div>{{ coins }}</div>
        <div id="logout">Logout</div>
    </div>
    <div id="content">
        <img id="logo" src="../static/images/Logo.png" alt="logo"/>
        <div class="index_layout">
            <input class="button" type="button" value="Create Room" onclick="on_create_room_click()"/>
            <input class="button" type="button" value="Singleplayer" onclick="on_singleplayer_click()"/>
            <input class="button" type="button" value="Sticks" onclick="location.href = '/sticks'"/>
            <input class="button" type="button" value="Join Room" onclick="on_join_room_click()"/>
        </div>
    </div>
    <input type="hidden" id="fallback_stick_url" value="{{ stick_url }}">
    <script>
if (!sessionStorage.getItem('stick_url') || sessionStorage.getItem('stick_url')[0] != '/')  // If stick_url is not set
{
    sessionStorage.setItem('stick_url', document.getElementById('fallback_stick_url').value)
}

function on_singleplayer_click()
{
    sessionStorage.setItem('game_mode', 'singleplayer')
    location.href = '/game'
}

function on_create_room_click()
{
    sessionStorage.setItem('game_mode', 'multiplayer')
    location.href = '/create-room-page'
}

function on_join_room_click()
{
    sessionStorage.setItem('game_mode', 'multiplayer')
    location.href = '/join-room-page'
}
    </script>
</body>
</html>