<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="../static/css/Drawer.css">
    <link rel="stylesheet" type="text/css" href="../static/css/Button.css">
    <link rel="stylesheet" type="text/css" href="../static/css/index.css">
    <title>MathStick</title>
</head>
<body>
    <div id="content">
        <img id="logo" src="http://diysolarpanelsv.com/images/example-13.jpg" alt="logo"/>
        <div class="index_layout">
            <input class="button" type="button" value="CREATE ROOM" onclick="on_create_room_click()"/>
            <input class="button" type="button" value="SINGLEPLAYER" onclick="on_singleplayer_click()"/>
            <input class="button" type="button" value="JOIN ROOM" onclick="on_join_room_click()"/>
        </div>
    </div>
    <script>
function on_singleplayer_click()
{
    sessionStorage.setItem('game_mode', 'singleplayer')
    location.href = '/game'
}

function on_create_room_click()
{
    sessionStorage.setItem('game_mode', 'multiplayer')
    location.href = '/create-room-page'
}

function on_join_room_click()
{
    sessionStorage.setItem('game_mode', 'multiplayer')
    location.href = '/join-room-page'
}
    </script>
</body>
</html>