<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <!-- <link rel="stylesheet" type="text/css" href="../static/css/Drawer.css"> -->
        <link rel="stylesheet" type="text/css" href="../static/css/index.css">
        <link rel="stylesheet" type="text/css" href="../static/css/TextField.css">
        <link rel="stylesheet" type="text/css" href="../static/css/Button.css">
        <link rel="stylesheet" type="text/css" href="../static/css/CreateJoinRoom.css">
        <title>Join Room</title>
    </head>
    <body>
        <div class="create_room_wrapper">
            
            <div id="joined_players">
                <span>Joined players:</span>            
            </div>
            <div>
                <div class="navbar">
                    <input class="back button" type="button" value="<==" onclick="location.href = '/settings'">
                </div>
                ID: <span><input id="join_id" class="textfield" type="text" placeholder="Enter ID here" spellCheck="false"/></span>
                <input id="join_room" class="button" type="button" value="Join Room" onclick="join_room()"/>
            </div>
        </div>
        <input type="hidden" id="uid" value="{{ id }}">
        <input type="hidden" id="username" value="{{ name }}">
        <script src="/static/lib/socket.io.js"></script>
        <script src="/static/js/join_room.js"></script>
    </body>
</html>