<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="google" content="notranslate">
        <meta http-equiv="Content-Language" content="en_US">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <link rel="stylesheet" type="text/css" href="static/css/index.css">
        <link rel="stylesheet" type="text/css" href="static/css/LoginRegister.css">
        <link rel="stylesheet" type="text/css" href="static/css/Button.css">
        <link rel="stylesheet" type="text/css" href="static/css/TextField.css">
    </head>
    <body>
        <div class="wrapper">
			<form class="left-half" action="/login" method="POST">
				<h1>Login</h1>
				<input class="textfield" type="email" spellCheck="false" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$" placeholder="Email" name="email"/>
				<input class="textfield" type="password" spellCheck="false" placeholder="Password" name="password"/>
                <input onClick="switch_halves()" class="button" type="button" value="Sign Up"/>
                <input class="button" type="submit" value="Submit"/>
            </form>
            <form class="right-half" action="/register" method="POST">
				<h1>Register</h1>

                <input class="textfield" type="text" spellCheck="false" placeholder="Username" name="username"/>
                <input class="textfield" type="email" spellCheck="false" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$" placeholder="Email" name="email"/>
                <input class="textfield" type="password" spellCheck="false" placeholder="Password" name="password"/>
				<input class="textfield" type="password" spellCheck="false" placeholder="Confirm Password"/>				
                <input onClick="switch_halves()" class="button" type="button" value="Sign In"/>
                <input class="button" type="submit" value="Submit"/>
			</form>
        </div>
        <input type="hidden" id="login_error" value="{{ login_error }}">
        <input type="hidden" id="register_error" value="{{ register_error }}">
        <script>
            var login = document.getElementsByClassName("left-half")[0]
            var register = document.getElementsByClassName("right-half")[0]
            if(window.matchMedia("(max-width: 600px)").matches){
                register.style.display = "none"
            }                
            window.onload = function(){
                if(document.getElementById("login_error").value!=""){
                    alert(document.getElementById("login_error").value)
                }
                if(document.getElementById("register_error").value!=""){
                    alert(document.getElementById("register_error").value)
                }
            }
			function switch_halves(){
				if(register.style.display == "none"){
					register.style.display = "grid"
					login.style.display = "none"
				} else{
					register.style.display = "none"
					login.style.display = "grid"
				}
				
			}
		</script>
    </body>
</html>