<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <!-- <link rel="stylesheet" type="text/css" href="../static/css/Drawer.css"> -->
        <link rel="stylesheet" type="text/css" href="../static/css/index.css">
        <link rel="stylesheet" type="text/css" href="../static/css/TextField.css">
        <link rel="stylesheet" type="text/css" href="../static/css/Button.css">
        <link rel="stylesheet" type="text/css" href="../static/css/Sticks.css">
        <title>Create Room</title>
    </head>
    <body>
        <div class="shop_wrapper">
            <div class="navbar">
                <input class="back button" type="button" value="<==" onclick="location.href = '/settings'">
                <img src="../static/images/coins_broken_transperent_new.png" alt="coins"/>
                <div>{{ coins }}</div>
            </div>
            <div class="shop_container">
                {% for stick in bought_sticks %}
                    <div class="bought_sticks card">
                        <header>Already bought</header>
                        <div class="card_content">
                            <img width="174" height="144" src="../static/images/{{ stick['url'] }}" alt="box_logo"/>
                        </div>
                        <div class="card_actions">
                            <input onclick="sessionStorage.setItem('stick_url', `{{ stick['stick'] }}` )" class="use button" type="button" value="Use"/>
                        </div>
                    </div>
                {% endfor %}
                {% for stick in available_sticks %}
                    <div class="available_sticks card">
                        <header>
                            <img width="46" height="40" src="../static/images/coins_broken_transperent_new.png" alt="coin"/>
                            <span>{{ stick['price'] }}</span>
                        </header>
                        <div class="card_content">
                            <img width="174" height="144" src="../static/images/{{ stick['url'] }}" alt="box_logo"/>
                        </div>
                        <div class="card_actions">
                            <input class="button" type="button" value="Buy" onclick="location.href = '/sticks?stick_id={{ stick['id'] }}'"/>
                        </div>
                    </div>
                {% endfor %}
                </div>
        </div>
    </body>
</html>